@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
  .section {
    padding: 60px 0;
  }
  .main-title {
    font-size: 28px;
    line-height: 1.17;
  }

  .modal {
    &__request-services {
      width: 450px;
      height: 609px;
    }
    &__title {
      width: 370px;
      padding-left: 40px;
    }
  }

  .modal-terms {
    font-size: 12px;
    line-height: 1.21;
    &__check-mark {
      bottom: 118px;
      left: 46px;
    }
  }

  .page-header {
    &__container {
      padding: 26px 15px;
    }
  }

  .navigation-bar {
    &__right-container {
      flex-direction: column;
      gap: 10px;
    }
    &--active-link::after {
      top: 66px;
    }
  }
  .hero {
    min-width: 768px;
    margin: 0 auto;
    background: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.2)),
      url(../images/background-image-T.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .about {
    &__container {
      flex-wrap: wrap;
    }
    &__item {
      flex-basis: calc((100% - 2 * 30px) / 2);
    }
  }
  .services {
    display: none;
  }

  .team-members {
    min-width: 768px;
    &__list {
      flex-wrap: wrap;
    }

    &__item {
      flex-basis: calc((100% - 2 * 30px) / 2);
    }
  }
  .customers {
    flex-wrap: wrap;
    &__logo {
      flex-basis: calc((100% - 3 * 30px) / 3);
    }
  }
  .page-footer {
    min-width: 768px;
    &__container {
      flex-direction: column;
      gap: 60px;
    }

    &__tablet {
      display: flex;
      justify-content: space-around;
    }

    &__adress {
      text-align: center;
    }
  }

  .page-social-media {
    align-items: center;
  }

  .footer-form {
    align-items: center;
    &__label {
      padding-top: 0px;
    }

    &__input-container {
      flex-direction: column;
      align-items: center;
    }
    &__button {
      width: 250px;
      margin-bottom: 60px;
    }
  }
  .filter-menu {
    flex-direction: row;

    &--mobile {
      display: flex;
      gap: 8px;
    }
  }
  .cards-list {
    margin: 0 auto;
    flex-wrap: wrap;
    &__item {
      width: 354px;
      flex-basis: calc((100% - 2 * 30px) / 2);
    }
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    min-width: 768px;
    margin: 0 auto;
    background: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.2)),
      url(../images/background-image-T@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
