$primary-color: #2196f3;
$page-header-border-color: #ececec;
$logo-text-color: #000000;
$main-text-color: #212121;
$secondary-color: #757575;
$footer-background-color: #2f303a;
$white-color: #ffffff;
$main-accent-color: #f5f4fa;
$customer-logo-color: #afb1b8;

$main-font-family: "roboto";
$secondary-font-family: "Raleway";
$global-font-style: normal;
$global-font-weight: 500;
$secondary-font-weight: 700;
$main-font-weight: 400;
$main-font-size: 16px;
$secondary-font-size: 14px;
$title-font-size: 36px;
